<template>
  <v-container style="max-width: 730px;">
    <v-layout column fill-height align-center>
      <v-flex class="text-xs-center text-sm-center text-md-center text-lg-center">
        <img src="/static/matNet_logo_vertical.png" style="height: 150px;"/>
        <p class="headline grey--text">
          <b>matNet</b> is a materials properties characterization standard based on AI technologies.
        </p>
      </v-flex>
      <v-flex xs12 sm12 md12 class="mb-3 mt-3">
        <iframe width="320px" height="220px" src="https://www.youtube.com/embed/9BCyHvg0Ir0?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </v-flex>
      <v-flex class="text-xs-center text-sm-center text-md-center text-lg-center">
        <p class="body-2">
          The objective of this standard, is to provide a fast measure of materials properties based on computer visual recognition. To achieve the materials classification, a Convolutional Neural Network (CNN) is trained with paired images data (input) and materials tags (outputs). The material tags are linked to characterization data obtained from standard material properties characterization methods (under ASTM standard) for every material used to train the matNet CNN. The materials surfaces are processed in order to enhance the their visual characteristics that depend on each material property. The surface visual characteristics enhancement process is explained in <a href="#sequential-grinding">Figure 1</a>. To properly use the matNet standard, the materials should be treated under the desired matNet version (<a href="#v0.1">current version 0.1</a>). The reason for this is that the input surfaces images into the net should be processed in the same manner as the train data was processed in order to train the matNet neural network. More data will be added and better classification techniques will be implemented as new matNet versions are released.
        </p>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <p class="display-1">
          Versions:
        </p>
        <p id="v0.1" class="title">
          matNet-v0.1
        </p>
        <p class="body-1">
          matNet-v0.1 standard provides recommendations for the materials surface visual characteristics enhancement treatment that is needed to apply to a material to be recognized by the matNet-v0.1.
        </p>
        <p class="subheading">
          The concept:
        </p>
        <img class="mt-0" style="display: block; margin-left: auto; margin-right: auto; width: 90%" id="sequential-grinding" src="/static/sequential_grinding_scheme.png"/>
        <v-divider class="mt-3 mb-2"></v-divider>
        <p class="subheading">
          Operation Parameters:
        </p>
        <img class="mb-2" style="display: block; margin-left: auto; margin-right: auto; width: 90%" id="sequential-grinding" src="/static/matNetv0.1_recommendations.png"/>
        <p class="mt-1 body-1 text-xs-center text-sm-center text-md-center text-lg-center">
          <b>Figure 1:</b> Materials surface treatment process. A first grinding operation is applied to the material surface in order to produce an initial state; the second grinding operation is performed with the same parameters for all the studied materials in order to propagate visual characteristics that depend on the material properties. <b>Images taken with a mobile phone with 24x macro lens</b>. (HD: Hardness, HV: Vickers Pyramid Number)
        </p>
        <p class="subheading mt-3">
          <u>Recommended equipment:</u>
        </p>
      </v-flex>
    </v-layout>
    <v-layout wrap>
      <v-flex xs12 sm6 md6 lg6 xl6>
        <v-card class="mb-2 ml-1 mr-1">
          <v-card-title class="subheading">Grinding machine with force control:</v-card-title>
          <v-card-media>
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/IG5w8qvWXyY?rel=0&amp;controls=0"></iframe>
          </v-card-media>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6 md6 lg6 xl6>
        <v-card class="mb-2 ml-1 mr-1">
          <v-card-title class="subheading">24x mobile phone macro lens:</v-card-title>
          <v-card-media>
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/inSch7JeqPQ?rel=0&amp;controls=0"></iframe>
          </v-card-media>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout column>
      <v-flex>
        <p class="subheading mt-3">
          <u>Example images:</u>
        </p>
        <p class="body-1">
          You can try the webapp using the example images that you can download <a href="downloads/example_images.zip">here</a>
        </p>

      </v-flex>
      <v-flex>
        <p class="subheading mt-3">
          <u>Release notes:</u>
        </p>
        <p class="body-1">
          The matNet-v0.1 may have limitations in determining properties for some materials and still gaining maturity as more data is collected. For this reason, users are encouraged to use the matNet paired with standard mechanical properties characterization methods, i.e. ASM, GOST, ISO. The matNet standard is being constantly improved for new versions releases. Subscribe to be informed of new developments around the matNet standard.
        </p>
      </v-flex>
    </v-layout>
  </v-container>
</template>
