<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm6 md6 lg6 xl6 order-xs2 order-sm1 order-md1 order-lg1>
        <!-- Here we can see the thinking animation when a new image is submitted -->
        <v-layout column align-content-center fill-height align-center>
          <v-flex xs12 md12 lg12 xl12>
            <div  class="text-xs-center text-sm-center text-md-center text-lg-center ml-3 mr-3 mt-1">
              <img src="/static/secondAlertLogoV.png" style="height: 180px"/>
              <p class="headline">
                  An AI tool developed to bring identity to lost people faces
              </p>
              <p class="blockquote mb-1">
                  "People get lost twice: first when they are reported and are being sought, and second when their disappearance end up pilled in a database"
              </p>
              <p class="subheading">
                  <!-- To verify if someone's face is reported as lost, please add a picture so we can figure it out. To learn more about 
                  our service please click <router-link to="About">here</router-link> -->
                  To verify if someone's face is reported as lost, please add a picture so we can figure it out. To learn more, talk to our assitant at the end of the page.
              </p>
            </div>
          </v-flex>
          <v-flex v-show="perdidoData || errorMessage" xs12 md12 lg12 xl12>
            <div>
              <v-btn round color="green" dark @click="resetAllData">Reset</v-btn>
            </div>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex class="pr-3 pl-3" xs12 sm6 md6 lg6 xl6 order-xs1 order-sm2 order-md2 order-lg2>
        <v-layout fill-height align-center v-show="loading">
          <v-flex  class="text-xs-center text-sm-center text-md-center text-lg-center">
              <img class="loading-image mt-1" src="/static/loading.png" style="height: 150px;"/>
          </v-flex>
        </v-layout>
        <v-layout column v-show="!loading">
          <v-flex xs12 sm6 md6 lg6 xl6>
            <!-- <img class="mt-2 mr-1 pl-2" src="/static/logo_answer.png" style="height: 65px; position: relative; bottom: 12px;"/> -->
            <div v-if="!perdidoData && errorMessage" class="text-xs-center text-sm-center text-md-center text-lg-center mb-4">
              <v-card>
                <v-img
                  :src="image"
                  aspect-ratio="1.25"
                  class="text-xs-center"
                ></v-img>
                <v-card-text background-color="warning">
                  <p class="text-xs-center title grey--text">Message:</p>
                  <h2 class="text-xs-center text-sm-center text-md-center text-lg-center"><u></u>{{errorMessage}}</h2>
                </v-card-text>
              </v-card>
            </div>

            <div v-else-if="perdidoData" class="text-xs-center text-sm-center text-md-center text-lg-center mb-4">
              <v-card>
                <!-- <v-card-title primary-title class="mb-0 text-xs-center text-sm-center text-md-center text-lg-center">
                  <p class="mb-0 text-xs-center title">This face has a report:</p>
                </v-card-title> -->
                <v-img
                  :src="perdidoData.imageUrl"
                  aspect-ratio="1"
                ></v-img>
                <!-- <img class="mb-1" :src="perdidoData.imageUrl" style="height: 150px"/> -->
                <v-card-text>
                  <p class="text-xs-center title grey--text">This face has a report:</p>
                  <h2 class="text-xs-center text-sm-center text-md-center text-lg-center"><u class="grey--text">Name:</u> {{perdidoData.name}}</h2>
                  <h2 class="text-xs-center text-sm-center text-md-center text-lg-center mb-2"><u class="grey--text">Age:</u> {{perdidoData.age}} years in {{perdidoData.happened}}</h2>
                  <v-btn v-if="perdidoData.pdfUrl" :href="perdidoData.pdfUrl" target="_blank" color="success">Official report</v-btn>
                </v-card-text>
              </v-card>
            </div>           
          </v-flex>
          <v-flex class="mb-4" v-show="!perdidoData && !errorMessage" id="canvas-container" >
            <!-- prefill= "/static/matNet_logo_vertical.png" -->
            <picture-input
              ref="pictureInput"
              @change="onChange"
              accept="image/jpeg,image/png"
              size="10"
              buttonClass="hidden"
              :customStrings="{
                upload: '<h1>Bummer!</h1>',
                drag: 'Drag a lost person image here'
              }">
            </picture-input>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
import axios from 'axios'
import PictureInput from 'vue-picture-input'
const uuidv4 = require('uuid/v4');

export default {
  name: 'app',
  data () {
    return {
      token: '',
      getSignedUrlEndpoint: 'https://p33m7luz75.execute-api.us-east-1.amazonaws.com/dev/get-signed-url',
      checkPerdidoEndpoint: 'https://p33m7luz75.execute-api.us-east-1.amazonaws.com/dev/check-perdido',
      apiResponse: {},
      errorMessage: null,
      perdidoData: null,
      loading: false,
      image: null
    }
  },
  components: {
    PictureInput
  },
  computed: {},
  methods: {
    resetAllData () {
      this.apiResponse = {}
      this.errorMessage = null
      this.perdidoData = null
      this.loading = false
      this.image = null
      let imageCanvasComponent = this.$refs.pictureInput
      let prefillOptions = {
        type: Object,
        default: () => {
          return {}
        }
      }
      // imageCanvasComponent.preloadImage('/static/drag_and_drop.png', prefillOptions)
      imageCanvasComponent.removeImage()
    },
    onChange (image) {
      console.log('New picture selected!')
      if (image) {
        console.log('Picture loaded., Sending for prediction')
        this.loading = true
        this.classPrediction(image)
        this.image = image
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    classPrediction (image) {
        // Here I will call the API sending the photo
        const requestImageNameUUID = {
            imageUID: 'perdidosCheck/' + uuidv4()
        }
        var imageFile = this.$refs.pictureInput.file
        this.image = this.$refs.pictureInput.file
        console.log('Here the image file: ', imageFile)
        // const b64toBlob = (b64Data, contentType='image/jpeg', sliceSize=512) => {
        //   const byteCharacters = atob(b64Data);
        //   const byteArrays = [];
          
        //   for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        //     const slice = byteCharacters.slice(offset, offset + sliceSize);
            
        //     const byteNumbers = new Array(slice.length);
        //     for (let i = 0; i < slice.length; i++) {
        //       byteNumbers[i] = slice.charCodeAt(i);
        //     }
            
        //     const byteArray = new Uint8Array(byteNumbers);
            
        //     byteArrays.push(byteArray);
        //   }
          
        //   const blob = new Blob(byteArrays, {type: contentType});
        //   return blob;
        // }
        // const file = b64toBlob(imageFile.replace(/^data:image\/[a-z]+;base64,/, ""))
        const file = imageFile

        var config = {
          headers: {
            'x-api-key': this.token,
            // 'Content-Type': 'application/octet-stream'
            'Content-Type': 'application/json',
            // 'Content-Type': 'text/plain',
          }
        }
        // console.log('Here the image as taking aout annotations: ', this.photo)
        console.log('I am being called!. Here the check in check out!')
        this.loading = true
        console.log('Here the image name payload: ', requestImageNameUUID)

        axios.post(this.getSignedUrlEndpoint, requestImageNameUUID.imageUID, config)
          .then(res => {
            console.log('Response from AWS signed: ', res)
            console.log('Here the file to be send: ', file)
            var config = {
              headers: {
                'Content-Type': file.type
              }
            };
            return axios.put(res.data.singedS3Url, file, config);
          })
          .then(res => {
            console.log('Here the response from S3: ', res)
            var config = {
              headers: {
                'x-api-key': this.token,
                // 'Content-Type': 'application/octet-stream'
                'Content-Type': 'application/json',
                // 'Content-Type': 'text/plain',
              }
            }
            return axios.post(this.checkPerdidoEndpoint, requestImageNameUUID.imageUID, config)
          })
          .then(res => {
            console.log('Here the response from DetectFAces: ', res)
            console.log('Here the response.data: ', res.data)
            // console.log('Here the response.data.reception: ', res.reception)
            this.loading = false
            this.temporalShow = true
            if (res.data.reception) {
              this.apiResponse = res.data.reception
              console.log('Here the internal API response: ', this.apiResponse)
              // Remember children can also be messages to the user
              this.perdidoData = this.apiResponse.perdidoData ? this.apiResponse.perdidoData : false
              this.errorMessage = this.apiResponse.errorMessage ? this.apiResponse.errorMessage : 'An error happened. Please try again.'
            }
          })
          .catch((error) => {
            this.errorMessage = 'An error happened. Please try again.'
            this.loading = false
            setTimeout(() => {
              this.temporalShow = false
            }, 6000);  
            // TODO: Here I need to handle the error in the interface
            console.log('An error happened: ', error)
          }) 
    }
  },
  created () {},
  mounted () {}
}
</script>
