<template>
  <v-app>
    <v-toolbar  color="white">
        <v-toolbar-title><img @click="$router.push({name: 'Main'})" class="mt-2 pl-2" src="/static/secondAlertLogoH.png" style="height: 55px;" /></v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
      <v-toolbar-items class="hidden-sm-and-down"> -->
      <v-toolbar-items>
        <!-- <v-btn flat @click="$router.push({name: 'About'})">About</v-btn> -->
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <!-- <router-view/> -->
      <main-app></main-app>
    </v-content>
    <!-- <v-footer :fixed="fixed" app>
      <span class="ml-3"><a target="_blank" href="https://twitter.com/HCanS">Contact</a></span>
      <v-spacer></v-spacer>
      <span class="mr-3">&copy; Second Alert - 2018</span>
    </v-footer> -->
  </v-app>
</template>

<script>
import Main from './components/Main'
export default {
  components: {
    'main-app': Main
  },
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  name: 'App'
}
</script>

<style>
.hidden {
  display: none
}
.picture-preview {
  z-index: 0 !important;
}
.loading-image {
    -webkit-animation:spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  50% {
      -webkit-transform: rotate(2deg);
  }
  100% {
      -webkit-transform: rotate(-2deg);
  }
}
</style>
